.row.pb-3
  .col-md-2
  .col-md-8
    = form_with model: @question, local: true do |f|
      .form-group
        = f.label "タグを選ぶ(任意)", for: "exampletitle" ,class: "pr-3"
        .alert.alert-secondary
          = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name)
          =link_to "タグを登録する", new_tag_path ,class: "pl-3"
        = f.label "タイトル", for: "exampletitle"
        = f.text_field :title, id: "exampletitle", class: "form-control", rows: "1"
        %br
          = f.label "質問内容", for: "examplecontent"
          = f.text_area :content, id: "examplecontent", class: "form-control",placeholder: "```コードブロックが使えます```", rows: "10"
        = f.submit "質問を投稿する", class: "btn btn-outline-warning btn-block mt-2"