.contents.clearfix
  .left-content
    %h4
      質問
      = form_with model: @question, local: true do |f|
        .form-group
          %br
            = f.label "カリキュラム", for: "curriculum"
            = f.select :curriculum, Question.curriculums_i18n.invert, id: "curriculum"
          %br
            = f.label "タイトル", for: "exampletitle"
            = f.text_field :title, id: "exampletitle", class: "form-control", rows: "1"
          %br
            = f.label "質問内容", for: "examplecontent"
            = f.text_area :content, id: "examplecontent", class: "form-control", rows: "10"
        %br
          = f.submit "投稿する", class: "btn btn-warning"
  .right-content
    =render "sidebar"