.container-fluid.p-4
  .row.pb-4
    .col-md-2
    .col-md-8
      .alert
        %h4.alert-heading.pb-3
          = @question.title
        .d-flex.justify-content-between
          .user.d-flex
            .name 質問者
            .date.font-weight-light.pl-4
              - if @question.created_at == @question.updated_at
                = @question.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
              - else
                = @question.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分 編集済み")
          .edit-btn
            = link_to '編集する', edit_question_path(@question)
        %p.mb-0
          = markdown(@question.content).html_safe
      -if @answers
        -@answers.each do |answer|
          .alert.alert-success
            .d-flex
              .name 回答者
              .date.font-weight-light.pl-4
                =answer.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
            .mb-0.pt-2
              =markdown(answer.content).html_safe
            %hr/
            .pl-3
              -if answer.answer_comments
                -answer.answer_comments.each do |comment|
                  .d-flex
                    .name 返信者
                    .date.font-weight-light.pl-4
                      =comment.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
                  .pt-2
                    = markdown(comment.content).html_safe
                    %hr/
              =form_with(model: @answer_comment, url: "/questions/#{@question.id}/answers/#{answer.id}/answer_comments", local: true) do |form| 
                = form.text_area :content, placeholder: "返信を書く" ,class: "form-control",rows: "1"
                = form.submit "返信する", class: "btn btn-outline-success btn-block mt-3"


        =form_with(model: [@question, @answer], local: true) do |form| 
          = form.text_area :content, placeholder: "回答を書く" ,class: "form-control",rows: "10"
          = form.submit "回答する", class: "btn btn-outline-success btn-block mt-3"

 
