.container-fluid.p-4
  .row.pb-4
    .col-md-2
      -# =render "template/detail-search"
    .col-md-8
      .card.border-danger.mb-3
        .card-header.question_box.bg-danger
          .name 質問者
          .date
            - if @question.created_at == @question.updated_at
              = @question.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
            - else
              = @question.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 編集済み")
          .edit-btn
            = link_to '編集する', edit_question_path(@question)
        .card-body.rounded-bottom
          %h4.card-title
            .fas.fa-question-circle
            = @question.title
          %p.card-text
            = markdown(@question.content).html_safe
      -if @answers
        -@answers.each do |answer|
          .card.border-warning.mb-3
            .card-header.bg-warning
              .name 回答者
              .date
                =answer.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
            .card-body
              %p.card-text 
              =simple_format(answer.content)
        =form_with(model: [@question, @answer], local: true) do |form| 
          = form.text_area :content, placeholder: "回答する" ,class: "form-control",rows: "10"
          = form.submit "回答する", class: "btn btn-outline-warning btn-block mt-3"

    -# <div class="comments">   
    -#   <h4>＜コメント一覧＞</h4>
    -#   <% if @comments %>
    -#     <% @comments.each do |comment| %>
    -#       <p>
    -#         <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
    -#         <%= comment.text %>
 
