.container-fluid.p-4
  .row.pb-4
    .col-md-2
    .col-md-8
      .alert.alert-warning
        .d-flex.justify-content-between.pb-2
          .name
            質問者：
            = @question.user.nickname
          .date.font-weight-light.pl-4
            - if @question.created_at == @question.updated_at
              = @question.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
            - else
              = @question.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分 編集済み")
        %h4.alert-heading
          = @question.title
        - if current_user.id == @question.user.id
          .d-flex.justify-content-end
            .btn.pr-3
              = link_to '編集', edit_question_path(@question),class: "edit-btn"
            .btn
              = link_to '削除', question_path(@question), method: :delete,class: "delete-btn", data: { confirm: '削除しますか？' } 
        %hr
        %p.mb-0
          = markdown(@question.content).html_safe
      - if @answers
        - @answers.each do |answer|
          .alert.alert-success
            .d-flex.justify-content-between
              .name
                回答者：
                = answer.user.nickname
              .date.font-weight-light.pl-4
                = answer.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
              - if current_user.id == answer.user.id
                .delete-btn
                  = link_to '削除', question_answer_path(@question, answer), method: :delete
            .mb-0.pt-2
              = markdown(answer.content).html_safe
            %hr/
            .alert.alert-light
              - if answer.answer_comments
                - answer.answer_comments.each do |comment|
                  .d-flex.justify-content-between
                    .name
                      コメント：
                      = comment.user.nickname
                    .date.font-weight-light.pl-4
                      = comment.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
                    - if current_user.id == comment.user.id
                      .delete-btn
                        = link_to '削除', question_answer_answer_comment_path(@question, answer, comment), method: :delete
                  .pt-2
                    = markdown(comment.content).html_safe
                    %hr/
              = form_with(model: [@question, answer, @answer_comment], local: true) do |form|
                = form.text_area :content, placeholder: "返信を書く" ,class: "form-control",rows: "1"
                = form.submit "返信する", class: "btn btn-outline-success btn-block mt-3"


        =form_with(model: [@question, @answer], local: true) do |form| 
          = form.text_area :content, placeholder: "回答を書く" ,class: "form-control",rows: "10"
          = form.submit "回答する", class: "btn btn-outline-success btn-block mt-3"

 
