%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.sticky-top
  .navbar-brand.d-flex
    = link_to root_path do
      = image_tag 'ts_header_logo.png'
    %small.pt-4
      knowledge for mentors
  #navbarColor01.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.js-breadcrumb-home.active
        %a.nav-link{:href => root_path}
          .fas.fa-home HOME
          %span.sr-only (current)
      %li.nav-item.js-breadcrumb-begginer
        =link_to information_path,class:"nav-link" do
          .fas.fa-book 初めてのかたへ
      %li.nav-item.js-breadcrumb-knowledge-read
        =link_to articles_path,class:"nav-link" do
          .fas.fa-book ナレッジを読む
      %li.nav-item.js-breadcrumb-knowledge-post
        =link_to new_article_path,class:"nav-link" do
          .fas.fa-paper-plane ナレッジを投稿
      %li.nav-item.js-breadcrumb-question-read
        =link_to questions_path,class:"nav-link" do
          .fas.fa-question-circle 質問を見る
      %li.nav-item.js-breadcrumb-question-post
        =link_to new_question_path,class:"nav-link" do
          .fas.fa-paper-plane 質問を投稿
      %li.nav-item.js-breadcrumb-tag
        =link_to new_tag_path,class:"nav-link" do
          .fas.fa-hashtag タグを登録
      %li.nav-item.js-breadcrumb-users
        =link_to users_path,class:"nav-link" do
          .fas.fa-user-circle ユーザー検索
    %ul.navbar-nav.mr-5
      - if user_signed_in?
        %li.nav-item.dropdown
          .nav-link.dropdown-toggle.btn.btn-outline-warning{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            %b
              =current_user.nickname
          .dropdown-menu
            = link_to current_user,class:"nav-link" do
              .dropdown-item マイページ
            = link_to destroy_user_session_path, method: :delete, class:"nav-link" do
              .dropdown-item ログアウト
            = link_to article_favorites_path(current_user), class:"nav-link" do
              .dropdown-item お気に入り一覧
      - else
        %li.nav-item
          = link_to new_user_registration_path,class: "nav-link btn btn-outline-warning mr-2 ml-3" do
            %b 新規登録
        %li.nav-item
          = link_to new_user_session_path,class: "nav-link btn btn-outline-danger" do
            %b ログイン
