= form_with model: @article, local: true do |f|
  .form-group
    = f.label "タグを選ぶ(必須)", for: "exampletitle" ,class: "pr-3"
    .form-row
      .form-group.col-6.container
        .row
          .col-8
            = text_field_tag :tag, :name, value: "", placeholder: 'タグを検索', class: "form-control js-tag_name_field"
            %ul.list-group.tag_list.js-tag_list
          .col-4
            = button_to 'タグを作成', "", class: 'btn btn-info js-create_tag'
      .col-6.card.pd0
        .card-header 選択中のタグ
        .card-body.js-selected_tags
    = f.label "タイトル", for: "exampletitle"
    = f.text_field :title, id: "exampletitle", class: "form-control", rows: "1", required: true
    %br
      = f.label "内容", for: "examplecontent"
      = f.text_area :content, id: "examplecontent", class: "form-control",placeholder: "```コードブロックが使えます```", rows: "14", required: true
    = f.submit "ナレッジを投稿する", class: "btn btn-outline-dark btn-block mt-2"
