%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'share'

      .col-lg-6.order-lg-1
        .p-5
          %h2.display-4 TECH::SHAREへようこそ！
          %p このサイトはメンターのための質問対応お役立ち「ナレッジサイト」です。ひとりひとりが持っている素晴らしい知識をTESH::SHAREによってすべてのメンターへシェアしていきます。
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'knowledge'
      .col-lg-6
        .p-5
          %h2.display-5 ナレッジ投稿・閲覧機能
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'question'
      .col-lg-6.order-lg-1
        .p-5
          %h2.display-5 質問投稿・回答機能
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'typing'
      .col-lg-6
        .p-5
          %h2.display-5 検索機能
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'like'
      .col-lg-6.order-lg-1
        .p-5
          %h2.display-5 お気に入り機能
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.



