%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'share.jpg'
      .col-lg-6.order-lg-1
        .p-5
          %h2.display-4 TECH::SHAREへようこそ！
          %br
          %h4 概要
          %p このサイトは質問対応に役立つ「ナレッジサイト」です。対象者はすべてのメンターです
%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          %h4 管理者
          %p 井上雄貴, 笠原真里奈, 内藤楓賀, 古城戸隆志, 三浦靖奈, 山西一史 (50音順)
      .col-lg-6.order-lg-1
        .p-5
          %h4 サイトの目的
          %p 信頼性のある質問対応ナレッジを一括管理し、検索できることでメンタリングの質を一定レベルに保ち質問対応時間を短縮するため
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'knowledge.jpg'
      .col-lg-6
        .p-5.card.bg-secondary.text-white
          = link_to '#article-function', class: 'js-scrollBtn link-white' do
            %h2.display-5 ①ナレッジ投稿・閲覧機能
          .card-body 質問対応のナレッジを投稿・閲覧することができます。コメント機能を備えているのでナレッジに対して補足情報があれば誰でも書き込むことができます。また、ユーザーを選んでナレッジを閲覧することもできます。
          = link_to '#article-function', class: 'js-scrollBtn link-white' do
            .text-right くわしく読む

%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'question.jpg'
      .col-lg-6.order-lg-1
        .p-5.card.bg-secondary.text-white
          = link_to '#question-function', class: 'js-scrollBtn link-white' do
            %h2.display-5.js-scrollBtn ②質問投稿・回答機能
          .card-body 質問対応で困ったときに使える知恵袋機能を使うことができます。質問をスレッドとして回答を投稿し、回答に対してもコメントをすることができます。問題解決をどんどんしていきましょう！
          = link_to '#question-function', class: 'js-scrollBtn link-white' do
            .text-right くわしく読む
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'typing.jpg'
      .col-lg-6
        .p-5.card.bg-secondary.text-white
          = link_to '#search-function', class: 'js-scrollBtn link-white' do
            %h2.display-5.js-scrollBtn ③検索機能
          .card-body トップページのヘッダーには検索バーがあります。検索バーにはナレッジと質問に関するキーワードを入力すると関連した記事を簡単に探すことができます。ナビゲージョンバーにはユーザー検索ボタンがあり、検索バーからユーザーを探すことができます。サイドバーには、タグ検索バーがありタグから記事の検索ができます。
          = link_to '#search-function', class: 'js-scrollBtn link-white' do
            .text-right くわしく読む
%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'like.jpg'
      .col-lg-6.order-lg-1
        .p-5.card.bg-secondary.text-white
          = link_to '#favorite-function', class: 'js-scrollBtn link-white' do
            %h2.display-5.js-scrollBtn ④お気に入り機能
          .card-body いいナレッジの記事があればお気に入りに登録しましょう。記事のヘッダーにある投稿者名のとなりの☆をクリックするとお気に入りに登録することができます。お気に入りはナビバーにあるログイン名をクリックする名見ることができます。
          = link_to '#favorite-function', class: 'js-scrollBtn link-white' do
            .text-right くわしく読む
%section#article-function
  .container
    .row.align-items-center
      %h4 ナレッジ投稿・閲覧機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.ナレッジ投稿のしかた
          .p-5
            .img-fluid
              = image_tag 'post-knowledge.png'
          .p-5
            .img-fluid
              = image_tag 'post-knowledge2.png'
          .p-5
            %h5 マークダウン記法について
            = link_to 'https://tech-share.work/articles/7' do
              %h6.display-5 TECH::SHARE マークダウン記法 一覧表・チートシート
  
      .p-5
        .card
          .card-header.text-center
            2.ナレッジ閲覧のしかた
          .p-5
            .img-fluid
              = image_tag 'readknow1.png'
          .p-5
            .img-fluid
              = image_tag 'readknow2.png'
%section#question-function
  .container
    .row.align-items-center
      %h4 質問投稿・回答機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.質問投稿のしかた
          .p-5
            .img-fluid
              = image_tag 'question-howto.png'
          .p-5
            %h5 マークダウン記法について
            = link_to 'https://tech-share.work/articles/7' do
              %h6.display-5 TECH::SHARE マークダウン記法 一覧表・チートシート
%section#search-function
  .container
    .row.align-items-center
      %h4 検索機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.ナレッジ・質問検索のしかた
          .p-5
            .img-fluid
              = image_tag 'search1.png'
      .p-5
        .card
          .card-header.text-center
            2.ユーザー検索のしかた
          .p-5
            .img-fluid
              = image_tag 'user-search.png'
      .p-5
        .card
          .card-header.text-center
            3.タグ検索のしかた
          .p-5
            .img-fluid
              = image_tag 'tag.gif'
%section#favorite-function
  .container
    .row.align-items-center
      %h4 お気に入り機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.お気に入り追加・一覧表示のしかた
          .p-5
            .img-fluid
              = image_tag 'favorite1.png'
          .p-5
            .img-fluid
              = image_tag 'favorite2.png'


