= link_to "検索へ", "#search-function",class: "js-btn"

%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'share.jpg'

      .col-lg-6.order-lg-1
        .p-5
          %h2.display-4 TECH::SHAREへようこそ！
          %p このサイトはメンターのための質問対応お役立ち「ナレッジサイト」です。ひとりひとりが持っている素晴らしい知識をTESH::SHAREによってすべてのメンターへシェアしていきます。
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'knowledge.jpg'
      .col-lg-6
        .p-5.card.bg-secondary.text-white
          = link_to '#article-function', class: 'js-scrollBtn' do
            %h2.display-5 ①ナレッジ投稿・閲覧機能
          .card-body 質問対応のナレッジを投稿・閲覧することができます。コメント機能を備えているのでナレッジに対して補足情報があれば誰でも書き込むことができます。また、ユーザーを選んでナレッジを閲覧することもできます。
          = link_to '#article-function', class: 'js-scrollBtn' do
            .text-right くわしく読む

%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'question.jpg'
      .col-lg-6.order-lg-1
        .p-5.card.bg-secondary.text-white
          = link_to '#question-function', class: 'js-scrollBtn' do
            %h2.display-5.js-scrollBtn ②質問投稿・回答機能
          .card-body 質問対応で困ったときに使える知恵袋機能を使うことができます。質問をスレッドとして回答を投稿し、回答に対してもコメントをすることができます。問題解決をどんどんしていきましょう！
          = link_to '#question-function', class: 'js-scrollBtn' do
            .text-right くわしく読む
%section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'typing.jpg'
      .col-lg-6
        .p-5.card.bg-secondary.text-white
          = link_to '#search-function', class: 'js-scrollBtn' do
            %h2.display-5.js-scrollBtn ③検索機能
          .card-body トップページのヘッダーにはサーチバーがあります。検索バーにはナレッジと質問に関するキーワードを入力すると関連した記事を簡単に探すことができます。またナビバーにはユーザー検索ボタンがあり、ユーザーを検索する検索バーから探すことができます。
          = link_to '#search-function', class: 'js-scrollBtn' do
            .text-right くわしく読む
%section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          .img-fluid.rounded-circle
            = image_tag 'like.jpg'
      .col-lg-6.order-lg-1
        .p-5.card.bg-secondary.text-white
          = link_to '#favorite-function', class: 'js-scrollBtn' do
            %h2.display-5.js-scrollBtn ④お気に入り機能
          .card-body いいナレッジの記事があればお気に入りに登録しましょう。記事のヘッダーにある投稿者名のとなりの☆をクリックするとお気に入りに登録することができます。お気に入りはナビバーにあるログイン名をクリックする名見ることができます。
          = link_to '#favorite-function', class: 'js-scrollBtn' do
            .text-right くわしく読む
%section#article-function
  .container
    .row.align-items-center
      %h4 ①ナレッジ投稿・閲覧機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.ナレッジ投稿のしかた
          .p-5
            .img-fluid
              = image_tag 'postknow1.png'
          .p-5
            .img-fluid
              = image_tag 'postknow2.png'
          .p-5
            .img-fluid
              = image_tag 'postknow3.png'
      .p-5
        .card
          .card-header.text-center
            2.ナレッジ閲覧のしかた
          .p-5
            .img-fluid
              = image_tag 'readknow1.png'
          .p-5
            .img-fluid
              = image_tag 'readknow2.png'

%section#question-function
  .container
    .row.align-items-center
      %h4 ②質問投稿・回答機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.質問投稿のしかた
          .p-5
            .img-fluid
              = image_tag 'postknow1.png'
          .p-5
            .img-fluid
              = image_tag 'postknow2.png'
          .p-5
            .img-fluid
              = image_tag 'postknow3.png'
%section#search-function
  .container
    .row.align-items-center
      %h4 ③検索機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.ナレッジ・質問検索のしかた
          .p-5
            .img-fluid
              = image_tag 'search1.png'
      .p-5
        .card
          .card-header.text-center
            2.ユーザー検索のしかた
          .p-5
            .img-fluid
              = image_tag 'user-search.png'
%section#favorite-function
  .container
    .row.align-items-center
      %h4 ④お気に入り機能
      .pb-5.pr-5.pl-5
        .card
          .card-header.text-center
            1.お気に入り追加・一覧表示のしかた
          .p-5
            .img-fluid
              = image_tag 'favorite1.png'
          .p-5
            .img-fluid
              = image_tag 'favorite2.png'


