.container-fluid.p-4
  .row.pb-4
    .col-md-2
    .col-md-8
      .card.border-dark.mb-3
        .card-header.question_box.bg-darkgray.text-light 
          .d-flex.justify-content-end
            .date
              - if @article.created_at == @article.updated_at
                = @article.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
              - else
                = @article.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 編集済み")
          .d-flex.justify-content-between
            .h2.card-title
              = @article.title
            - if current_user.id == @article.user.id
              .d-flex.justify-content-end
                .edit-btn.pr-3
                  = link_to '編集', edit_article_path(@article)
                .delete-btn
                  = link_to '削除', article_path(@article), method: :delete
          .d-flex.justify-content-end
            .favorites_buttons{data: {article: {id: @article.id}}}
              = render partial: 'favorites/favorite', locals: {article: @article, favorite: @favorite}
            .name
              投稿者：
              = @article.user.nickname
        .card-body.rounded-bottom
          %p.card-text
            = markdown(@article.content).html_safe
      - if @article_comments
        - @article_comments.each do |article_comment|
          %ul.list-unstyled
            %li.media.mb-4.bg-light.rounded
              .media-body.pl-3.pt-3
                .d-flex.justify-content-between
                  %b
                    = article_comment.user.nickname
                  %p
                    = article_comment.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
                  - if current_user.id == article_comment.user.id
                    %p
                      = link_to '削除', article_article_comment_path(@article, article_comment), method: :delete
                %p
                  = article_comment.content
      = form_with model: @article_comment, url: article_article_comments_path(@article), local: true do |f|
        .form-group
          %br
            = f.text_area :content, id: "examplecontent", class: "form-control",placeholder: "コメントをする", rows: "10"
          = f.submit "コメントする", class: "btn btn-outline-dark btn-block mt-2"

    .col-md-2
      = render "template/sidebar"
